@use '../../settings/color' as color;
@use '../../settings/font-family' as font-family;
@use '../../settings/font-weight' as fw;
@use '../../tools/function' as fn;
@use '../../tools/mixin' as mixin;
@use '../../tools/media-queries' as mq;

.title {
  font: fw.$black 6.4rem font-family.$inter;
  text-transform: uppercase;
  letter-spacing: -1.07px;
  line-height: fn.getem(64, 55);
  @include mq.mobile {
    font-size: 32px;
  }

  &--large {
    font-size: 8rem;
    letter-spacing: -1.33px;
    line-height: fn.getem(80, 72);
    @include mq.mobile {
      font-size: 40px;
    }
  }

  &--medium {
    font-size: 5rem;
    letter-spacing: -0.83px;
    line-height: fn.getem(50, 52);
    @include mq.mobile {
      font-size: 25px;
    }
  }

  &--small {
    font-size: 2.3rem;
    letter-spacing: 0;
    line-height: fn.getem(23, 22);
    @include mq.mobile {
      font-size: 18px;
    }
  }

  &.light {
    color: color.$white-af6;
  }
}

.subtitle {
  font-size: 1.8rem;
  color: color.$white;
  line-height: fn.getem(18, 24);
  @include mq.mobile {
    font-size: 16px;
  }
}

.text {
  font-size: 1.8rem;
  line-height: fn.getem(18, 24);
  @include mq.mobile {
    font-size: 16px;
  }

  &--light {
    color: color.$white;
  }

  &--blue {
    color: color.$blue-c6c;
  }
}

.heading {
  display: block;
  background-color: color.$yellow;
  border-radius: 35px;
  padding: 20px 4%;
  font-size: 1.8rem;
  line-height: 1em;
  text-align: center;
  @include mq.mobile {
    font-size: 16px;
  }

  &--full {
    width: 100%;
  }

  &--small {
    padding: 10px 19px 10px 13px;
  }
}

.underline {
  text-decoration: underline;
}