@use '../../settings/color' as color;
@use '../../settings/font-family' as font-family;
@use '../../settings/font-weight' as fw;
@use '../../tools/function' as fn;
@use '../../tools/mixin' as mixin;
@use '../../tools/media-queries' as mq;

.title {
  font: fw.$black 6.4rem font-family.$inter;
  text-transform: uppercase;
  letter-spacing: -1.07px;
  line-height: fn.getem(64, 55);

  &--large {
    font-size: 8rem;
    letter-spacing: -1.33px;
    line-height: fn.getem(80, 72);
  }

  &--medium {
    font-size: 5rem;
    letter-spacing: -0.83px;
    line-height: fn.getem(50, 52);
  }

  &--small {
    font-size: 2.3rem;
    letter-spacing: 0;
    line-height: fn.getem(23, 22);
  }

  &.light {
    color: color.$white-af6;
  }

  &.dark {
    color: color.$gray-02e;
  }
}

.subtitle {
  font-size: 1.8rem;
  color: color.$white;
  text-transform: uppercase;
  line-height: fn.getem(18, 24);
}

.text {
  font-size: 1.8rem;
  line-height: fn.getem(18, 24);

  &--light {
    color: color.$white;
  }

  &--blue {
    color: color.$blue-c6c;
  }
}

.heading {
  width: fit-content;
  background-color: color.$yellow;
  border-radius: 35px;
  padding: 20px 4%;
  font-size: 1.8rem;
  line-height: 1em;
  @include mixin.center;

  &--full {
    width: 100%;
  }

  &--small {
    padding: 10px 19px 10px 13px;
  }
}