$black-430: #222430;
$yellow: #ffba00;
$white: #fff;
$white-af6: #fffaf6;
$gray-02e: #2e302e;
$gray-a35: #292a35;
$blue-657: #002657;
$blue-c6c: #434c6c;
$blue-gray-gradient: linear-gradient(232deg, #464e70 0%, #203746 100%);
