.footer
  .container
    .footer__container
      .footer__text-block
        .footer__text-wrap
          h6.footer__heading JOIN THE D1 CLUB
          p.footer__text Subscribe for deals, and tips on mens skincare
        .footer__logo
          img(src='/img/d1-logo-white.svg', alt='D1')
      .footer__email
        input.footer__email-field(type='email', placeholder='Enter your email')
        button.footer__submit SUBMIT
      .footer__social-media-wrap
        a.footer__social-media(href='/')
          img(src='/img/instagram.svg', alt='Instagram')
        a.footer__social-media(href='/')
          img(src='/img/tiktok.svg', alt='TikTok')
        a.footer__social-media(href='/')
          img(src='/img/facebook.svg', alt='Facebook')
      .footer__link-container
        .footer__link-wrap
          h6.footer__heading.mb12 SUPPORT
          a.footer__link(href) Support
          a.footer__link(href) Contact
          a.footer__link(href) FAQS
          a.footer__link(href) Account
          a.footer__link(href) Terms & Conditions
          a.footer__link(href) Privacy Policy
        .footer__link-wrap
          h6.footer__heading.mb12 COMPANY
          a.footer__link(href) Company
          a.footer__link(href) Shop
          a.footer__link(href) Philosophy
      .footer__note-container
        p.footer__note-text.
          These statements have not been evaluated by the Food and Drug Administration. 
          This product is not inteded to diagnose, treat, cure, or prevent any disease. 
          Lorem ipsum dolor sit amet.
      span.footer__copyright @D1 2025 — site by manufactur
