.header
  p.header__note free shipping on us orders over $100
  .header__container
    .header__menu-wrap
      .header__menu-btn
      .header__logo
        img(src='/img/d1-logo.svg', alt='D1')
    .header__button-wrap
      a.button-default(href='/') GET STARTED
      .header__cart
        img(src='/img/cart.png', alt='cart')